# Set the MATLAB version here:
DEFAULT_MATLAB_VERSION = R2014a

# Set the MATLAB installation directory here to override the default.
# The defaults are:
#   on Linux:    /usr/local/MATLAB/${DEFAULT_MATLAB_VERSION}
#   on Max OS X: /Applications/MATLAB_${DEFAULT_MATLAB_VERSION}.app
# This also overrides the DEFAULT_MATLAB_VERSION setting.
MATLAB_DIR =

# This controls whether the OpenMP library for parallel
# computing is used in MATLAB's mexfiles
OPENMP = 1

# Set this according to the CPU architecture: 32, 64 or 128 bits
PACKBITS = 64
